<header>
    Itinov Films
</header>

<div class="layout">
    <aside class="sidebar">
      <nav>
        <ul>
          <li routerLink="/all" routerLinkActive="active">Tous les films</li>
          <li routerLink="/favorites" routerLinkActive="active">Films favoris</li>
          <li routerLink="/watchlist" routerLinkActive="active">Films à regarder</li>
        </ul>
      </nav>
    </aside>
  
    @defer { 
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    } @loading {
      <p>Loading ...</p>
    }
</div>